@font-face {
  font-family: "SharpSans-No1";
  src: url(/fonts/SharpSans-No1-Medium.otf?4f5642b63e157c2fad357ca7afeaad36);
  font-weight: normal;
}
@font-face {
  font-family: "SharpSans-No1";
  src: url(/fonts/SharpSans-No1-Black.otf?3c81c6b6b493ac53ecbb7cc0b36f3f25);
  font-weight: bold;
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url(/images/login-bg.jpg?2ebebd7753d8d8448f9deee1d8fa2b4c);
  font-family: "SharpSans-No1", "Courier", "Verdana";
  font-weight: normal;
  color: white;
  margin: 0;
  padding: 0;
}

.title {
  font-family: "SharpSans-No1", "Courier", "Verdana";
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  margin: 58px 0 17px 0;
}

.actions button {
  padding: 10px 13px 7px 13px;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "SharpSans-No1", "Courier", "Verdana";
  font-weight: bold;
  font-size: 10.5px;
  letter-spacing: 1px;
  color: #0F0F0F;
  background-color: #C1C1C1;
  gap: 10px;
  margin-right: 2px;
}
.actions .active {
  color: white;
  background-color: #5AC8E0;
}

.logo {
  width: 250px;
  margin: 24px auto 21px auto;
  display: flex;
}

form {
  background-color: #0E0E0E;
  border: 1px solid #5AC8E0;
  padding: 5px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 100%, 0% 20%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 100%, 0% 20%);
}

label {
  display: block;
  font-size: 12px;
  margin: 20px 0px -1px 0;
}

input {
  padding: 5px;
  width: 100%;
  border-radius: 0px;
  border: none;
}

input::-moz-placeholder {
  font-size: 10.5px;
  text-transform: capitalize;
}

input::placeholder {
  font-size: 10.5px;
  text-transform: capitalize;
}

input[type=submit] {
  font-family: "SharpSans-No1", "Courier", "Verdana";
  font-size: 10;
  font-weight: bold;
  letter-spacing: 1px;
  color: #000000;
  background-color: white;
  padding: 13px 13px 13px 13px;
  display: flex;
  margin: 15px auto 20px auto;
  width: 120px;
  border: none;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

h2, .form-group {
  padding: 0 15px;
}

h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

#app {
  width: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0), #5AC8E0);
}

@media (max-width: 768px) {
  #app {
    width: 66vw;
  }
}
@media (min-width: 768px) {
  label {
    display: inline !important;
  }
  input {
    width: 70%;
  }
  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 35px;
  }
  h2 {
    padding: 0 35px;
  }
  .logo {
    margin: 24px auto 30px auto;
  }
  form {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0% 20%);
            clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0% 20%);
  }
}
@media (max-width: 480px) {
  .logo {
    width: 90%;
  }
}
