@font-face {
  font-family: 'SharpSans-No1';
  src: url('../../src/fonts/SharpSans-No1-Medium.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'SharpSans-No1';
  src: url('../../src/fonts/SharpSans-No1-Black.otf');
  font-weight: bold;
}

$SharpSans-No1: "SharpSans-No1", "Courier", "Verdana";

%tabs {
  padding: 5px 13px;
  border: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-family: $SharpSans-No1;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  color: #0E0E0E;
  background-color: #C1C1C1;
  gap: 10px;
  margin-right: 2px;
}

body {
  background-image: url('../../assets/imgs/login-bg.jpg');
  font-family: $SharpSans-No1;
  font-weight: normal;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: $SharpSans-No1;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  margin: 0 0 32px 0;
}

.tabs {
  @extend %tabs;
}

.logo {
  width: 250px;
  margin: 20px;
}

.register-form {
  background-color: #0E0E0E;
  border: 1px solid #4CBCD8;
  padding: 5px;
}

label {
  display: block;
}
